{% extends 'base.html.twig' %}

{% block title %}DDR Login{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
<div id="login"></div>
{% endblock %}
