{% extends 'base.html.twig' %}

{% block title %}Data Evaluation{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('data_evaluation') }}
{% endblock %}

{% block body %}
	<div id="data_evaluation"></div>
{% endblock %}
