{% extends 'base.html.twig' %}

{% block title %}Dampfdruck{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('main') }}
{% endblock %}

{% block body %}
	<div id="main"></div>
{% endblock %}
