{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('reports') }}
{% endblock %}

{% block body %}
	<div id="reports"></div>
{% endblock %}
