{% extends 'base.html.twig' %}

{% block title %}Admin - Reports{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('admin_reports') }}
{% endblock %}

{% block body %}
	<div id="admin_reports"></div>
{% endblock %}
