<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Change this!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.png">
        <meta name="viewport" content="initial-scale=1, width=device-width" />
				<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

				{{ encore_entry_script_tags('navbar') }}
				{{ encore_entry_script_tags('footer') }}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
			<div id="navbar"></div>
			{% block body %}{% endblock %}
			<footer id="footer" class="mt-auto"></footer>
    </body>
</html>
