{% extends 'base.html.twig' %}

{% block title %}Clausius-Clapeyron Equation{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('clausius-clapeyron') }}
{% endblock %}

{% block body %}
	<div id="clausius-clapeyron"></div>
{% endblock %}
